.footer{
    width: 100vw;
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1.8rem;
    padding: 2rem;
        &__list{

                &--sell{
                    color: #371c88;
                    list-style: none;
                        &:first-child{
                            font-size: 1.5rem;
                            font-weight: 1000;
                            font-family:  Helvetica;
                            background: -webkit-linear-gradient(45deg, #371c88, #8c7bc7,#b0d6f0);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;

                        }
                

                }
        }
        &__logo{
            width: 10rem;

            @include responsive(footer-img){
                grid-column: 1/ span 3;
            }
        }
}
